.header {
    width: 100%;
    height: 800px;
    background: no-repeat;
    background-size: cover;
    background-image: $gradient-bg,
        url(./../image/content/header-bg.jpg);
        background-position-x: 45%;
        position: relative;

        &__socials {
        cursor: pointer;
        position: absolute;
        right: 120px;
        display: flex;
        gap: 20px;
        top: -55px;
        }

        &__socials-icon:hover {
            stroke: $white-default;
            transform: scale(1.2);
            opacity: 2;
            transition: all 0.5s ease;
        }
}

.logo {
    margin: 0;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    padding-left: 25px;

    @include media ($max-md) {
        width: 200px;
        height: 40px;
        padding-left: 130px;
        padding-top: 35px;
    }

    @include media ($lg-md) {
        width: 245px;
        height: 55px;
        padding-left: 215px;
        padding-top: 55px;
    }

    &__img {
        width: 150px;
        height: 30px;

        @include media ($max-md) {
            width: 200px;
            height: 40px;
        }

        @include media ($lg-md) {
            width: 245px;
            height: 55px;
        }
    }

    &__img:hover {
        transform: scale(1.03);
        transition: all 0.5s ease;
        opacity: 0.7;
    }
}

.title {
    margin: 0 auto;
    height: 120px;
    padding-top: 225px;
    color: $white-default;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-family: $font-primary;
        font-size: 80px;
        font-weight: 700;
        line-height: 98px;
        letter-spacing: 0.1em;
        text-align: center;

        @include media ($sm) {
            font-size: 30px;
        }
        
        @include media ($min-md) {
        font-size: 36px;
        }

        @include media ($min-lg) {
            font-size: 67px;
        }

        @include media ($lg-md) {
            font-size: 80px;
        }
    }
    
    &__description {
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.3em;
        text-align: center;

        @include media ($sm) {
            font-size: 11px;
        }

        @include media ($min-md) {
            font-size: 15px;
        }

        @include media ($min-lg) {
            font-size: 18px;
        }

        @include media ($lg-md) {
            font-size: 22px;
        }
    }
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 255px;
    background: none;
    border: none;

    &__svg:hover {
        cursor: pointer;
        transition: all 0.5s ease;
        transform: rotate(360deg) scale(1.2);
    }
}

