.news {
    background-image: url(../../image/content/news-bg.jpg);
    background-size: cover;
    width: 100%;
    min-width: $sm;
    height: 980px;
    margin: 0 auto;

    &__title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 110px;
    }

    &__title-head {
        font-family: $font-primary;
        font-size: 44px;
        font-weight: 700;
        color: $white-default;
    }

    &__line {
        padding-bottom: 30px;
    }

    &__title {
        font-family: $font-primary;
        font-size: 44px;
        font-weight: 700;
        line-height: 54px;
        color: $color-elements;
        padding-bottom: 10px;

        @include media ($min-lg) {
            padding-bottom: 70px;
        }
    }
}