.btn {
    width: 190px;
    height: 50px;
    color: $color-elements;
    border: 1px solid $color-elements;
    background-color: $white-default;
    cursor: pointer;

    @include media ($md) {
        width: 150px;
        height: 50px;
    }

    @include media ($min-lg) {
        width: 190px;
        height: 50px;
    }
}

.btn:hover {
	background: $gradient;
    border: none;
	color: $white-default;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}